alembic==1.4.2
asn1crypto==0.24.0
astroid==2.4.1
beautifulsoup4==4.9.1
Brlapi==0.6.7
bs4==0.0.1
certifi==2018.8.24
chardet==3.0.4
chrome-gnome-shell==0.0.0
click==7.1.2
cryptography==3.3.2
cupshelpers==1.0
distro==1.3.0
distro-info==0.21
entrypoints==0.3
Flask==1.1.2
Flask-Migrate==2.5.3
Flask-SQLAlchemy==2.4.1
Flask-WTF==0.14.3
h5py==2.10.0
httplib2==0.18.0
idna==2.6
isort==4.3.21
itsdangerous==1.1.0
Jinja2==2.11.2
keyring==17.1.1
keyrings.alt==3.1.1
lazy-object-proxy==1.4.3
louis==3.8.0
Mako==1.0.7
MarkupSafe==1.1.0
mccabe==0.6.1
mpmath==1.1.0
numpy==1.18.4
olefile==0.46
pexpect==4.6.0
Pillow==7.1.0
pycairo==1.16.2
pycrypto==2.6.1
pycups==1.9.73
pycurl==7.43.0.2
PyGObject==3.30.4
pylint==2.5.2
PySimpleSOAP==1.16.2
pysmbc==1.0.15.6
python-apt==1.8.4.1
python-dateutil==2.8.1
python-debian==0.1.35
python-debianbts==2.8.2
python-editor==1.0.4
pyxdg==0.26
reportbug===7.5.3-deb10u1
reportlab==3.5.13
requests==2.21.0
SecretStorage==2.3.1
six==1.12.0
soupsieve==2.0.1
SQLAlchemy==1.2.18
sympy==1.6
toml==0.10.1
typed-ast==1.4.1
ufw==0.36
unattended-upgrades==0.1
urllib3==1.24.1
virtualenv==15.1.0
Werkzeug==1.0.1
wrapt==1.12.1
WTForms==2.3.1
