<!DOCTYPE html>
<html lang="eng">
<head>
	<title>CO2 concentration</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">

	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/my.css') }}">
	<link rel="preconnect" href="https://fonts.gstatic.com">
	<link href="https://fonts.googleapis.com/css2?family=Alegreya+Sans+SC:ital,wght@0,900;1,900&display=swap" rel="stylesheet">	

	<!-- <link rel="stylesheet" href="style.css"> -->
	<!-- <link rel="stylesheet" href="{{ url_for('static', filename='css/my.css') }}"> -->

	<link rel="stylesheet" href="https://unpkg.com/leaflet@1.6.0/dist/leaflet.css"
	integrity="sha512-xwE/Az9zrjBIphAcBb3F6JVqxf46+CDLwfLMHloNu6KEQCAWi6HcDUbeOfBIptF7tcCzusKFjFw2yuvEpDL9wQ=="
	crossorigin=""/>

	<script src="https://unpkg.com/leaflet@1.6.0/dist/leaflet.js"
	integrity="sha512-gZwIG9x3wUXg2hdXF6+rVkLF/0Vi9U8D2Ntg4Ga5I5BZpVkVxlJWbSQtXPSiUTtC0TjtGOmxa1AJPuV0CPthew=="
	crossorigin=""></script>

	<script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
</head>
<body onload="
		document.getElementById('min_lat').value = '50'
        document.getElementById('max_lat').value = '58'
        document.getElementById('min_lon').value = '82'
        document.getElementById('max_lon').value = '92'
        document.getElementById('date_from').value = '2020-03-01'
        document.getElementById('date_to').value = '2020-12-31'
		document.getElementById('current_date').value = document.getElementById('date_from').value
	">

	<div class="map" id="mapid"></div>

	<div class="settings">
		<form action="" method="GET" novalidate>
			{{ form.hidden_tag() }}
			<p>Широта</p>
			<p>Долгота</p>

			<input class="left" type="text" name="minimal_latitude" id={{ form.minimal_latitude.id }}>
			<p class="defis">-</p>
			<input type="text" name="maximal_latitude" id={{ form.maximal_latitude.id }}>	

			<input class="left, left-right" type="text" name="minimal_longitude" id={{ form.minimal_longitude.id }}>
			<p class="defis">-</p>
			<input type="text" name="maximal_longitude" id={{ form.maximal_longitude.id }}>	

			<p class="alignCenter">Дата</p>

			<input type="date" name="date_from" id={{ form.date_from.id }}>
			<p class="defis">-</p>
			<input type="date" name="date_to" id={{ form.date_to.id }}>

			<button type="submit" class="button" id={{ form.send_data.id }}>{{ form.send_data.label }}</button>
			
			<p class="alignCenter">Текущая дата<br></p>
			<input id={{ form.current_date.id }} type="date" name="current_date">
		</form>

			<button class="half" id="prev">&#10229</button>
			<p class="month">Месяц</p>
			<button class="half" id="next">&#10230</button>

			<label class="cancellation" for="point">Отображение точек</label>
			<input type="checkbox" name="check" id="point">
			<p class="cancellation">Качество карты</p>
			<select name="quality" id="quality">
				<option class="items">Минимум</option>
				<option class="items" selected>Среднее</option>
				<option class="items">Максимум</option>
			</select>

        <script src="{{ url_for('static', filename='js/Leaflet.idw-master/src/leaflet-idw.js') }}"></script>
		<script type="text/javascript" src="{{ url_for('static', filename='js/map.js') }}"></script>
		<!-- <script type="text/javascript" src="{{ url_for('static', filename='js/chart.js/dist/Chart.js') }}"></script>
		<script src="../../node_modules/chart.js/dist/Chart.js"></script> -->
	</div>

</body>
</html>