<!DOCTYPE html>
<html lang="en-US">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=\ initial-scale=1.0" />
        <meta http-equiv="X-UA-Compatible" content="ie-edge" />
    </head>
    <body onload="
        document.getElementById('min_lat').value = '40'
        document.getElementById('max_lat').value = '70'
        document.getElementById('min_lon').value = '60'
        document.getElementById('max_lon').value = '90'
        document.getElementById('date_from').value = '2014-06-01'
        document.getElementById('date_to').value = '2014-06-30'
    ">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/page.css') }}">

        <link rel="stylesheet" href="https://unpkg.com/leaflet@1.6.0/dist/leaflet.css"
        integrity="sha512-xwE/Az9zrjBIphAcBb3F6JVqxf46+CDLwfLMHloNu6KEQCAWi6HcDUbeOfBIptF7tcCzusKFjFw2yuvEpDL9wQ=="
        crossorigin=""/>

        <script src="https://unpkg.com/leaflet@1.6.0/dist/leaflet.js"
        integrity="sha512-gZwIG9x3wUXg2hdXF6+rVkLF/0Vi9U8D2Ntg4Ga5I5BZpVkVxlJWbSQtXPSiUTtC0TjtGOmxa1AJPuV0CPthew=="
        crossorigin=""></script>

        <title>The Map</title>
        <h1 id="headMap">The map</h1>
        <div id="mapID"></div>

        <form action="" method="GET" novalidate>
            {{ form.hidden_tag() }}
            
            <label for={{ form.minimal_latitude.id }}   style="position: fixed; top: 12%; left: 6%;">   {{ form.minimal_latitude.label }}</label><br>
            <label for={{ form.maximal_latitude.id }}   style="position: fixed; top: 12%; left: 27%;">  {{ form.maximal_latitude.label }}</label><br>
            <label for={{ form.minimal_longitude.id }}  style="position: fixed; top: 25%; left: 6%;">   {{ form.minimal_longitude.label }}</label><br>
            <label for={{ form.maximal_longitude.id }}  style="position: fixed; top: 25%; left: 27%;">  {{ form.maximal_longitude.label }}</label><br>
            <label for={{ form.date_from.id }}  style="position: fixed; top: 38%; left: 6%;">  {{ form.date_from.label }}</label><br>
            <label for={{ form.date_to.id }}  style="position: fixed; top: 38%; left: 27%;">  {{ form.date_to.label }}</label><br>

            <input type="text" id={{ form.minimal_latitude.id }}    style="position: fixed; top: 15%; left: 4%;" placeholder="0.0">
            <input type="text" id={{ form.maximal_latitude.id }}    style="position: fixed; top: 15%; left: 25%;" placeholder="0.0">
            <input type="text" id={{ form.minimal_longitude.id }}   style="position: fixed; top: 28%; left: 4%;" placeholder="0.0">
            <input type="text" id={{ form.maximal_longitude.id }}   style="position: fixed; top: 28%; left: 25%;" placeholder="0.0">
            <input type="date" id={{ form.date_from.id }}   style="position: fixed; top: 42%; left: 4%; size: 10%;">
            <input type="date" id={{ form.date_to.id }}   style="position: fixed; top: 42%; left: 25%;">

            <button type="submit" class="button" name='button' id={{ form.send_data.id }} style="position: fixed; top: 55%; left: 19%;"> {{ form.send_data.label }}</button>
        </form>
        <script src="{{ url_for('static', filename='js/map_init.js') }}"></script>
        <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
        <script src="{{ url_for('static', filename='js/Leaflet.idw-master/src/leaflet-idw.js') }}"></script>
        <!-- <script src="{{ url_for('static', filename='js/Leaflet.heat-gh-pages/dist/leaflet-heat.js') }}"></script> -->
        <script type="text/javascript">
            // const attribution = '&copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors';
            const tileUrl = 'https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png';
            const 
                southWest = L.latLng(
                    $("input#min_lat").val(), 60
                        ), 
                northEast = L.latLng(
                    70, 90
                        );
            const bounds = L.latLngBounds(southWest, northEast)
            const tiles = L.tileLayer(tileUrl, { 
                reuseTiles: true,
                preferCanvas: true,
                bounds: bounds,
                updateWhenZooming: false,
                detectRetina: true,
                minZoom: 2,
                maxZoom: 15,
                maxBounds: bounds,
                attribution: 
                '&copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors' 
            });
            var map = L.map('mapID', {zoomControl: true}).setView(bounds.getCenter(), 1).addLayer(tiles);
            map.on('drag', () => {
                map.panInsideBounds(bounds, {animate: false})
            });
            
            // var markers = [];
            // var trianglesList = [];
            // var layers = [];

            $(function() {
                $(".button").click(function(){
                    var dataString = 
                        "minimal_latitude=" + $("input#min_lat").val() +
                        "&maximal_latitude=" + $("input#max_lat").val() +
                        "&minimal_longitude=" + $("input#min_lon").val() +
                        "&maximal_longitude=" + $("input#max_lon").val() +
                        "&date_from=" + $("input#date_from").val() +
                        "&date_to=" + $("input#date_to").val()
                    ;
                    $.ajax({
                        url: "/handle",
                        type: "get",
                        data: dataString,
                        dataType: "json",
                        success: function(response) {
                            var data = response;
                            
                            var tempList = []
                            var minC = 380;
                            console.log(data)
                                                        
                            for (var month in data['months']) {
                                for (var index = 0; index < data['months'][month].length; index++) {
                                    if (data['months'][month][index][5] < 380) {
                                        tempList.push(
                                            [data['months'][month][index][3], data['months'][month][index][4], 0]
                                        );    
                                    } else {
                                        tempList.push(
                                            [data['months'][month][index][3], data['months'][month][index][4], data['months'][month][index][5] - minC]
                                        );
                                    }
                                }
                            }

                            console.log(tempList)

                            var heat = L.idwLayer(tempList, {
                                opacity: 0.3,
                                maxZoom: 5,
                                cellSize: 8,
                                exp: 7,
                                max: 410 - minC,
                                gradient: {
                                    0.0: 'blue',
                                    0.25: 'cyan',
                                    0.5: 'lime',
                                    0.75: 'yellow',
                                    1: 'red'
                                }
                            }).addTo(map)
                            
                            // for (var i = 0; i < tempList.length; i++) {
                            //     L.marker([tempList[i][0], tempList[i][1]]).addTo(map)
                            // }
                            // L.marker(tempList).addTo(map)

                            // for (var i = 0; i < 30; i++) {
                            //     console.log(data['points'][i])
                            //     var idw = L.idwLayer([
                            //         [data['points'][i][3], data['points'][i][4], data['points'][i][5] / 1000.0]
                            //     ], {
                            //         radius: 25, 
                            //         max: 1.0,
                            //         gradient: {
                            //             0.4: 'blue',
                            //             0.65: 'lime',
                            //             1: 'red'
                            //         }
                            //     }).addTo(map);
                            // }

                            // layers = []

                            // for (var i = 0; i < trianglesList.length; i++) {
                            //     layers.push([])
                            //     for (var k = 0; k < trianglesList[i].length; k++) {
                            //         var idw = L.heatLayer([
                            //             [trianglesList[i][k][0][0], trianglesList[i][k][0][1], trianglesList[i][k][0][2] / 5.0],
                            //             [trianglesList[i][k][1][0], trianglesList[i][k][1][1], trianglesList[i][k][1][2] / 5.0],
                            //             [trianglesList[i][k][2][0], trianglesList[i][k][2][1], trianglesList[i][k][2][2] / 5.0]
                            //         ], {
                            //             opacity: 0.1, 
                            //             radius: 25, 
                            //             max: 50.0,
                            //             gradient: {
                            //                 0.4: 'blue',
                            //                 0.65: 'lime',
                            //                 1: 'red'
                            //             }
                            //         });
                            //         console.log(trianglesList[i][k])
                            //         layers[i].push(idw)
                            //         idw.addTo(map)
                            //     }
                            // }

                            // for (var i = 0; i < trianglesList.length; i++) {
                            //     layers.push([])
                            //     for (var k = 0; k < trianglesList[i].length; k++) {
                            //         var idw = L.idwLayer([
                            //             [trianglesList[i][k][0][0], trianglesList[i][k][0][1], 20],
                            //             [trianglesList[i][k][1][0], trianglesList[i][k][1][1], 25],
                            //             [trianglesList[i][k][2][0], trianglesList[i][k][2][1], 30]
                            //         ], {opacity: 0.1, cellSize: 10, exp: 4, max: 1200});
                            //         console.log(trianglesList[i][k])
                            //         layers[i].push(idw)
                            //         idw.addTo(map)
                            //     }
                            // }

                            // if (polygonsList.length > 0) {
                            //     var len = polygonsList.length;
                            //     for (var i = 0; i < len; i++) {
                            //         mymap.removeLayer(polygonsList.pop());
                            //     }
                            // }

                            // for (var i = 0; i < data[1].length; i++) {
                            //     var list = [
                            //         [data[1][i][0]['lat'], [data[1][i][0]['lon']]],
                            //         [data[1][i][1]['lat'], [data[1][i][1]['lon']]],
                            //         [data[1][i][2]['lat'], [data[1][i][2]['lon']]]
                            //     ]
                            //     var polygon = L.polygon(list, {color: 'red'});
                            //     polygonsList.push(polygon);
                            //     polygon.addTo(mymap);
                            // }
                            // console.log('polygons: ' + polygonsList.length);

                            // if (markers.length > 0) {
                            //     var len = markers.length;
                            //     for (var i = 0; i < len; i++) {
                            //         mymap.removeLayer(markers.pop())
                            //     }
                            // }
                            
                            // for (var i = 0; i < data[0].length; i++) {
                            //     var marker = L.marker([data[0][i]['lat'], data[0][i]['lon']]);
                            //     markers.push(marker);
                            //     marker.addTo(mymap);
                            // }
                            // console.log('markers: ' + markers.length);
                        },
                        error: function(xhr) {
                            alert('not stonks!');
                        }
                    });
                    return false;
                });
            });
        </script>
    </body>
</html>