<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <!-- <link rel="stylesheet" href="style.css"> -->
        <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">

        <link rel="stylesheet" href="https://unpkg.com/leaflet@1.6.0/dist/leaflet.css"
        integrity="sha512-xwE/Az9zrjBIphAcBb3F6JVqxf46+CDLwfLMHloNu6KEQCAWi6HcDUbeOfBIptF7tcCzusKFjFw2yuvEpDL9wQ=="
        crossorigin=""/>

        <script src="https://unpkg.com/leaflet@1.6.0/dist/leaflet.js"
        integrity="sha512-gZwIG9x3wUXg2hdXF6+rVkLF/0Vi9U8D2Ntg4Ga5I5BZpVkVxlJWbSQtXPSiUTtC0TjtGOmxa1AJPuV0CPthew=="
        crossorigin=""></script>

        <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    </head>
    <body onload="
        // document.getElementById('min_lat').value = '40'
        // document.getElementById('max_lat').value = '70'
        // document.getElementById('min_lon').value = '50'
        // document.getElementById('max_lon').value = '100'
        // document.getElementById('date_from').value = '2009-04-01'
        // document.getElementById('date_to').value = '2009-12-31'

        document.getElementById('min_lat').value = '50'
        document.getElementById('max_lat').value = '60'
        document.getElementById('min_lon').value = '70'
        document.getElementById('max_lon').value = '100'
        document.getElementById('date_from').value = '2012-04-01'
        document.getElementById('date_to').value = '2014-12-31'
        document.getElementById('current_date').value = document.getElementById('date_from').value
    ">
         <div class="configs"> 
            <!-- <h1 class="config-header">Settings</h1> -->
            <form action="" method="GET" novalidate>
                {{ form.hidden_tag() }}
                <div class="panel">
                    <div class="panel-data">
                        <label class="panel-name" for={{ form.minimal_latitude.id }}>{{ form.minimal_latitude.label }}</label><br>
                        <input type="text" class="panel-input" id={{ form.minimal_latitude.id }} placeholder="0.0"><br>
                    </div>
                    <div class="panel-data">
                        <label class="panel-name" for={{ form.maximal_latitude.id }}>{{ form.maximal_latitude.label }}</label><br>
                        <input type="text" class="panel-input" id={{ form.maximal_latitude.id }} placeholder="0.0"><br>
                    </div>
                    <div class="panel-data">
                        <label class="panel-name" for={{ form.minimal_longitude.id }}>{{ form.minimal_longitude.label }}</label><br>
                        <input type="text" class="panel-input" id={{ form.minimal_longitude.id }} placeholder="0.0"><br>
                    </div>
                    <div class="panel-data">
                        <label class="panel-name" for={{ form.maximal_longitude.id }}>{{ form.maximal_longitude.label }}</label><br>
                        <input type="text" class="panel-input" id={{ form.maximal_longitude.id }} placeholder="0.0"><br>
                    </div>

                    <div class="panel-data">
                        <label class="panel-name" for={{ form.date_from.id }}>{{ form.date_from.label }}</label><br>
                        <input type="date" class="panel-input" id={{ form.date_from.id }}><br>
                    </div>
                    <div class="panel-data">
                        <label class="panel-name" for={{ form.date_to.id }}>{{ form.date_to.label }}</label><br>
                        <input type="date" class="panel-input" id={{ form.date_to.id }}><br>
                    </div>

                    <div class="panel-data">
                        <button type="submit" class="button" id={{ form.send_data.id }}>{{ form.send_data.label }}</button>
                    </div>
                </div>
            </form>
            <div class="panel">
                <div class="panel-data">
                    <label class="panel-name" for="current_date">Current date</label><br>
                    <input type="date" class="panel-input" id="current_date"><br>
                </div>
                <div class="panel-data">
                    <button type="button" class="button" id="next">Next</button>
                </div>
                <div class="panel-data">
                    <button type="button" class="button" id="prev">Prev</button>
                </div>
            </div>
        </div>
        <div class="map" id="mapid"></div>

        <script src="{{ url_for('static', filename='js/Leaflet.idw-master/src/leaflet-idw.js') }}"></script>
        <script type="text/javascript" src="{{ url_for('static', filename='js/map.js') }}"></script>
    </body>
</html>